@use "sass:color";
@use "colors";

.button {
  border: 0;
  border-radius: 3px;

  padding: 10px 20px;

  font-size: inherit;
  font-weight: bold;
  white-space: nowrap;

  cursor: pointer;

  background-color: colors.$squirrel;
  color: colors.$floralWhite1;

  will-change: transform;
}

.button:hover {
  background-color: color.adjust(colors.$squirrel, $lightness: 5%);
}

.button:active {
  transform: scale(0.95);
}

.button:focus-visible {
  outline: 0;
}
