@use "sass:color";

// Color Palette

$brightSun: #edc22e;
$floralWhite1: #f9f6f2;
$floralWhite2: #faf8ef;
$gallery: #d8d4d0;
$outrageousOrange: #fc5e2e;
$red: #ff0000;
$redOrange: #ff3333;
$sandstone: #776e65;
$seaBuckthorn: #f78e48;
$silk: #bbada0;
$springWood: #eee4da;
$squirrel: #8f7a66;
$white: #fff;
$woodrush: #3c3a32;

// Application Colors

$text: $sandstone;
$textBright: $floralWhite1;

$tile: $springWood;
$tileGold: $brightSun;
$tileGoldGlow: color.adjust($tileGold, $lightness: 15%);
$tileSuper: $woodrush;
