:root {
  // Grid

  --grid-size: 280px;
  --grid-gap: 10px;
  --tile-size: calc((var(--grid-size) - 5 * var(--grid-gap)) / 4);

  // Tile font sizes

  --tile-font-size1: 35px;
  --tile-font-size2: 25px;
  --tile-font-size3: 15px;
  --tile-font-size4: 15px;
  --tile-font-size5: 13px;

  // Animation

  --grid-tile-move-duration: 100ms;

  --tile-appear-duration: 200ms;
  --tile-appear-delay: var(--grid-tile-move-duration);

  --tile-pop-duration: 200ms;
  --tile-pop-delay: var(--grid-tile-move-duration);

  --tile-disappear-duration: 0s;
  --tile-disappear-delay: calc(var(--grid-tile-move-duration) + var(--tile-pop-duration));

  --message-fade-in-duration: 800ms;
  --message-fade-in-delay: 1200ms;
}

@media screen and (min-width: 520px) {
  :root {
    // Grid

    --grid-size: 500px;
    --grid-gap: 15px;

    // Tile font sizes

    --tile-font-size1: 55px;
    --tile-font-size2: 45px;
    --tile-font-size3: 35px;
    --tile-font-size4: 30px;
    --tile-font-size5: 25px;
  }
}
