.main {
  outline: 0;
  padding: 80px 0;
}

.main__body {
  box-sizing: content-box;
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}

.main__header {
  margin-bottom: 40px;
}

.main__introduction {
  margin-bottom: 50px;
}

.main__grid {
  margin-bottom: 50px;
}

@media screen and (min-width: 520px) {
  .main__body {
    width: 500px;
    padding: 0 10px;
  }

  .main__header {
    margin-bottom: 20px;
  }
}
