@use "sass:color";
@use "colors";

$zeroWidth: 15.65px;

.score {
  display: inline-block;

  box-sizing: content-box;
  padding: 8px 10px;
  min-width: 3 * $zeroWidth;
  line-height: 1;

  border-radius: 3px;

  text-align: center;
  font-weight: bold;

  background-color: colors.$silk;
}

@for $digits from 4 through 10 {
  .score--#{$digits}-digit {
    min-width: $digits * $zeroWidth;
  }
}

.score__title {
  margin: 0;
  margin-bottom: 2px;

  font-size: 13px;
  text-transform: uppercase;

  color: colors.$springWood;
}

.score__total {
  position: relative;

  font-size: 25px;
}

.score__value {
  color: colors.$white;
}

.score__delta {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  color: color.change(colors.$sandstone, $alpha: 0.9);

  animation: move-up 600ms ease-in;
  animation-fill-mode: forwards;
}

@keyframes move-up {
  0% {
    top: 0;
    opacity: 1;
  }
  100% {
    top: -75px;
    opacity: 0;
  }
}
