@use "colors";
@use "fonts";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: fonts.$clearSans;
  font-size: 15px;
  line-height: 1.5;

  background-color: colors.$floralWhite2;
  color: colors.$sandstone;
}

@media screen and (min-width: 520px) {
  body {
    font-size: 18px;
  }
}

a {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
  color: colors.$sandstone;
}
