@use "colors";
@use "fonts";

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: 18px;
  line-height: 1.5;
}

body {
  font-family: fonts.$clearSans;
  background-color: colors.$floralWhite2;
  color: colors.$sandstone;
}

a {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
  color: colors.$sandstone;
}
