:root {
  --tile-size: 57.5px;
  --tile-font-size1: 35px;
  --tile-font-size2: 25px;
  --tile-font-size3: 15px;
  --tile-font-size4: 15px;
  --tile-font-size5: 13px;

  --grid-gap: 10px;
  --grid-size: calc(5 * var(--grid-gap) + 4 * var(--tile-size));

  // Animation

  --tile-appear-duration: 200ms;
  --tile-appear-delay: 100ms;

  --grid-tile-move-duration: 100ms;

  --tile-pop-duration: 200ms;
  --tile-pop-delay: var(--grid-tile-move-duration);

  --tile-disappear-duration: var(--tile-pop-duration);
  --tile-disappear-delay: var(--grid-tile-move-duration);
}

@media screen and (min-width: 520px) {
  :root {
    --tile-size: 106.25px;
    --tile-font-size1: 55px;
    --tile-font-size2: 45px;
    --tile-font-size3: 35px;
    --tile-font-size4: 30px;
    --tile-font-size5: 25px;

    --grid-gap: 15px;
  }
}
