@font-face {
    font-family: "Clear Sans";
    src: url("/fonts/ClearSansLight.woff") format("woff");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Clear Sans";
    src: url("/fonts/ClearSansRegular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Clear Sans";
    src: url("/fonts/ClearSansBold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

$clearSans: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
