@use "sass:color";
@use "colors";

.grid__background {
  position: relative;

  width: var(--grid-size);
  height: var(--grid-size);

  border-radius: 6px;
  padding: var(--grid-gap);

  background-color: colors.$silk;
}

.grid__cells {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--grid-gap);
}

.grid__cell {
  border-radius: 3px;
  background-color: color.change(colors.$springWood, $alpha: 0.35);
}

.grid__tile {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform var(--grid-tile-transition-duration) ease-in-out;
}

@for $r from 1 through 4 {
  @for $c from 1 through 4 {
    .grid__tile--#{$r}-#{$c} {
      transform: translate(
        calc($c * var(--grid-gap) + ($c - 1) * var(--tile-size)),
        calc($r * var(--grid-gap) + ($r - 1) * var(--tile-size))
      );
    }
  }
}
