$gap: 5px;

.score-card {
  display: inline-flex;

  flex-wrap: wrap;
  justify-content: end;
  margin-top: -$gap;
  margin-right: -$gap;
}

.score-card__score {
  margin-top: $gap;
  margin-right: $gap;
}
