@use "sass:color";
@use "colors";

.score {
  font-size: 1rem;
  line-height: 1;

  display: inline-block;
  min-width: 5em;

  border-radius: 3px;
  padding: 8px 10px;

  text-align: center;
  font-weight: bold;

  background-color: colors.$silk;
}

.score__title {
  margin: 0;
  margin-bottom: 2px;
  font-size: 0.8125em;
  text-transform: uppercase;
  color: colors.$springWood;
}

.score__total {
  font-size: 1.5625em;
  position: relative;
}

.score__value {
  color: colors.$white;
}

.score__delta {
  color: color.change(colors.$sandstone, $alpha: 0.9);

  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  animation: move-up 600ms ease-in;
  animation-fill-mode: forwards;
}

@keyframes move-up {
  0% {
    top: 0;
    opacity: 1;
  }
  100% {
    top: -75px;
    opacity: 0;
  }
}
